.clock-wrapper {
  line-height: 5;
  background-color: transparent;
  width: 50%;
  margin-left: 25%;
}

.mainbackground {
  background: linear-gradient(0deg, rgb(55, 5, 78), rgb(139, 139, 139));
  height: 99vh;
  border-radius: 10px;
}

/* header */
.clock-wrapper h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 6em;
  color: #ffffff;
  height: 30%;
}


/* buttons */
.clock-wrapper button {
  cursor: pointer;
  margin: 0 5px;
  padding: 10px 30px;
  background: white;
  border: 1px solid #000000;
  border-radius: 8px;
  outline: 0;
  color: #000000;
  transition: all ease 300ms;
  margin: 10px 0;
}

.clock-wrapper button:hover {
  color: #333;
  background: #fff;

}

/* center content vertically and horizontally */
.table {
  display: flex;
  /* width: 100%;
  height: 100%; */
  justify-content: center;
  position: relative;
}

.cell {
  display: table-cell;
  vertical-align: middle;
  cursor: default;
}

.scrollbutton {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
}